<center><h1>Welcome to Awesome Answers</h1>
<%= link_to "New Question", new_question_path %><br><br>


<%= image_tag "awesome-answers-logo-white.png", width: "25%", align: "middle" %></center>

<!-- <img src="/images/wombat.jpg"> -->
